<!-- Testcase Delete Toast -->
{{ toast("Testcase Deleted") }}

<!-- New Test Modal-->
<form action="/testcase/{{ assessment.ID.Hex }}/single" method="POST" class="m-0" id="newTestcaseForm">
    {{ csrf_field|safe }}
    {{ modalHead("newTestcase", "New Testcase") }}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Descriptive testcase name" required>
    </div>
    <div class="mb-3">
        <label for="mitreid" class="form-label">Mitre ID</label>
        <br/>
        <select class="selectpicker form-control border" data-live-search="true" data-size="10" name="mitreid" id="mitreid" required>
            {% for mitre in mitres %}
            <option data-subtext="{{ mitre.Name }}">{{ mitre.MitreID }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="tactic" class="form-label">Tactic</label>
        <select id="tactic" name="tactic" class="form-label form-select" required>
            <option value="none" selected disabled hidden>Select...</option>
            {% for tactic in tactics %}
            <option value="{{ tactic.Name }}">{{ tactic.Name }}</option>
            {% endfor %}
        </select>
    </div>
    {{ modalTail("newTestcase", "Close", "Create") }}
</form>

<!-- Select testcases from templates modal -->
{{ modalHead("testcaseTemplates", "Select Testcase", True) }}
<div class="mb-3">
    <table id="testcaseTemplateTable" data-toggle="table" data-search="true" data-click-to-select="true" data-maintain-meta-data="true" data-sort-name="add" data-sort-order="desc" data-filter-control="true" data-show-search-clear-button="true" data-height="600" data-silent-sort="false" data-pagination="true">
        <thead>
            <tr>
                <th data-field="add" data-checkbox="true" data-sortable="true">Add</th>
                <th data-field="src" id="nameField" data-filter-control="select">Src</th>
                <th data-field="tactic" data-sortable="true" data-filter-control="select">Tactic</th>
                <th data-field="technique">Technique</th>
                <th data-field="title">Title</th>
                <th data-field="id" data-visible="false">ID</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
            <tr data-title="bootstrap table" data-object='{"key": "value"}' data-uniqueid="{{ template.ID.Hex }}">
                <td></td>
                <td>{{ template.Provider }}</td>
                <td>{{ template.Tactic }}</td>
                <td>{{ template.MitreID }}<!-- TODO mitre tactic name --></td>
                <td>{{ template.Name }}</td>
                <td>{{ template.ID.Hex }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ modalTail("testcaseTemplates", "Cancel", "Add Selected") }}

<!-- Import MITRE Navigator Modal -->
<form action="/assessment/{{ assessment.ID.Hex }}/import/navigator" enctype="multipart/form-data" method="POST" class="m-0" id="navigatorTemplateForm">
    {{ csrf_field|safe }}
    {{ modalHead("testcaseNavigator", "Import MITRE Layer") }}
    <div class="mb-3">
        <label for="formFile" class="form-label">Select your threat actor / ad-hoc TTP at <a href="https://mitre-attack.github.io/attack-navigator/" target="_blank">the Mitre ATT&CK Navigator</a> &gt; <code>Download Controls</code> &gt; <code>Download Layer as JSON</code>.</label>
        <input class="form-control" type="file" id="formFile" name="file" accept=".json,application/json">
    </div>
    {{ modalTail("testcaseNavigator", "Close", "Import") }}
</form>

<!-- Import Campaign Modal -->
<form action="/assessment/{{ assessment.ID.Hex }}/import/campaign" enctype="multipart/form-data" method="POST" class="m-0" id="campaignTemplateForm">
    {{ csrf_field|safe }}
    {{ modalHead("testcaseCampaign", "Import Campaign Template") }}
    <div class="mb-3">
        <label for="campaignFile" class="form-label">Import Campaign from <code>Export</code> &gt; <code>Campaign Template</code>.</label>
        <input class="form-control" type="file" id="campaignFile" name="file" accept=".json,application/json">
    </div>
    {{ modalTail("testcaseCampaign", "Close", "Import") }}
</form>

<!-- Manage Datasources Modal -->
{{ modalHead("manageDatasources", "Manage Datasources", True) }}
<div class="mb-3">
    <div id="datasourcesToolbar">
        <button id="datasourcesNewButton" class="btn btn-primary multiNew">New</button>
    </div>
    <table data-toggle="table" id="datasourcesTable" class="multiTable" data-unique-id="id" data-id-field="id" data-toolbar="#datasourcesToolbar">
        <thead>
            <tr>
                <th data-field="id" data-visible="false">ID</th>
                <th data-field="name" data-formatter="multiNameFormatter">Name</th>
                <th data-field="description" data-formatter="multiDescriptionFormatter">Description</th>
                <th data-field="delete" data-align="center" data-formatter="multiDeleteFormatter">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for ds in multi.Datasources %}
            <tr data-uniqueid="{{ ds.ID.Hex }}">
                <td>{{ ds.ID.Hex }}</td>
                <td>{{ ds.Name }}</td>
                <td>{{ ds.Description }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ modalTail("manageDatasources", "Cancel", "Save", "assessmentMultiButton") }}

<!-- Manage Rules Modal -->
{{ modalHead("manageRules", "Manage Rules", True) }}
<div class="mb-3">
    <div id="rulesToolbar">
        <button id="rulesNewButton" class="btn btn-primary multiNew">New</button>
    </div>
    <table data-toggle="table" id="rulesTable" class="multiTable" data-unique-id="id" data-id-field="id" data-toolbar="#rulesToolbar">
        <thead>
            <tr>
                <th data-field="id" data-visible="false">ID</th>
                <th data-field="name" data-formatter="multiNameFormatter">Name</th>
                <th data-field="description" data-formatter="multiDescriptionFormatter">Description</th>
                <th data-field="delete" data-align="center" data-formatter="multiDeleteFormatter">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for rule in multi.Rules %}
            <tr data-uniqueid="{{ rule.ID.Hex }}">
                <td>{{ rule.ID.Hex }}</td>
                <td>{{ rule.Name }}</td>
                <td>{{ rule.Description }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ modalTail("manageRules", "Cancel", "Save", "assessmentMultiButton") }}

<!-- Manage Detection Sources Modal -->
{{ modalHead("manageDetectionsources", "Manage Detection Sources", True) }}
<div class="mb-3">
    <div id="detectionsourcesToolbar">
        <button id="detectionsourcesNewButton" class="btn btn-primary multiNew">New</button>
    </div>
    <table data-toggle="table" id="detectionsourcesTable" class="multiTable" data-unique-id="id" data-id-field="id" data-toolbar="#detectionsourcesToolbar">
        <thead>
            <tr>
                <th data-field="id" data-visible="false">ID</th>
                <th data-field="name" data-formatter="multiNameFormatter">Name</th>
                <th data-field="description" data-formatter="multiDescriptionFormatter">Description</th>
                <th data-field="delete" data-align="center" data-formatter="multiDeleteFormatter">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for ds in multi.DetectionSources %}
            <tr data-uniqueid="{{ ds.ID.Hex }}">
                <td>{{ ds.ID.Hex }}</td>
                <td>{{ ds.Name }}</td>
                <td>{{ ds.Description }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ modalTail("manageDetectionsources", "Cancel", "Save", "assessmentMultiButton") }}

<!-- Manage Prevention Sources Modal -->
{{ modalHead("managePreventionsources", "Manage Prevention Sources", True) }}
<div class="mb-3">
    <div id="preventionsourcesToolbar">
        <button id="preventionsourcesNewButton" class="btn btn-primary multiNew">New</button>
    </div>
    <table data-toggle="table" id="preventionsourcesTable" class="multiTable" data-unique-id="id" data-id-field="id" data-toolbar="#preventionsourcesToolbar">
        <thead>
            <tr>
                <th data-field="id" data-visible="false">ID</th>
                <th data-field="name" data-formatter="multiNameFormatter">Name</th>
                <th data-field="description" data-formatter="multiDescriptionFormatter">Description</th>
                <th data-field="delete" data-align="center" data-formatter="multiDeleteFormatter">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for ps in multi.PreventionSources %}
            <tr data-uniqueid="{{ ps.ID.Hex }}">
                <td>{{ ps.ID.Hex }}</td>
                <td>{{ ps.Name }}</td>
                <td>{{ ps.Description }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ modalTail("managePreventionsources", "Cancel", "Save", "assessmentMultiButton") }}

<!-- Template Modal -->
<form action="/assessment/{{ assessment.ID.Hex }}/export/report" enctype="multipart/form-data" method="POST" class="m-0" id="exportReportForm">
    {{ csrf_field|safe }}
    {{ modalHead("exportReport", "Generate Engagement Report") }}
    <div class="mb-3">
        <p>Select the report below.</p>
        <select id="report" name="report" class="form-label form-select" required autocomplete="off">
            <option value="none" selected disabled hidden>Select...</option>
            {% for report in reports %}
            <option value="{{ report }}">{{ report }}</option>
            {% endfor %}
        </select>
    </div>
    {{ modalTail("exportReport", "Close", "Generate") }}
</form>
