<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>PurpleOps</title>
    <meta charset="utf-8">
    <meta name="author" content="Willem Mouton & Harrison Mitchell">
    <meta name="description" content="Purple team project tracker">
    <meta name="keywords" content="purple team,purpleops,blue team,tracker,red team,">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#593196" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta property="og:site_name" content="PurpleOps" />
    <meta property="og:title" content="PurpleOps" />
    <meta property="og:description" content="Purple team project tracker" />
    <meta property="og:image" content="static/images/logo.png">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/bootstrappulse.min.css">
    <link rel="stylesheet" href="/static/style/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/style/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/style/app.css">
    <link rel="icon" href="/static/images/logo.ico" type="image/x-icon">
</head>

<body>
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/scripts/bootstrap-table.min.js"></script>
    <script src="/static/scripts/bootstrap-table-filter-control.min.js"></script>
    <script src="/static/scripts/bootstrap-table-cookie.min.js"></script>
    <script src="/static/scripts/bootstrap-select.min.js"></script>
    <script src="/static/scripts/popper.min.js"></script>

    {% include "master_modals.html" %}

    {% macro modalHead(name, title, xl=false) %}
    <div class="modal fade" id="{{ name }}Modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog {% if xl %}modal-xl{% endif %}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ name }}Label">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
    {% endmacro %}

    {% macro modalTail(name, cancelLabel, actionLabel="", buttonClass="") %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ cancelLabel }}</button>
                    {% if actionLabel %}
                    <button type="submit" class="btn btn-primary {{ buttonClass }}" id="{{ name }}Button">{{ actionLabel }}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}

    {% macro toast(title) %}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">{{ title }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% endmacro %}

    {% macro logo() %}
    <img class="mb-4" src="/static/images/logo.png" alt="" width="200" style="margin: 0 auto;display: block;">
    {% endmacro %}

    {% if current_user.GetInitpwd() and request.GetPath() != "/login" and request.GetPath() != "/mfa/register" and request.GetPath() != "/mfa/verify" and request.GetPath() != "/password/change" %}
    <div class="alert alert-danger alert-server m-0 border-0 rounded-0" role="alert">
        <strong>Initial password is still in use.</strong> Change it via Settings (Top Right) > Update Password
    </div>
    {% endif %}

    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="mx-2" src="/static/images/logo.png" width="28px"><span style="color: var(--bs-secondary)">Purple</span>Ops</a>
            {% if request.GetPath() != "/login" and request.GetPath() != "/mfa/register" and request.GetPath() != "/mfa/verify" %}
            {% block navpill %}{% endblock %}
            <div class="btn-group navbar-right" role="group">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown" aria-expanded="false" title="Settings">
                    <i class="bi-gear-fill">&zwnj;</i>
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    {% if current_user.HasRole("Admin") %}
                    <li><a class="dropdown-item" href="/manage/access">Access Control</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="/api-keys">API Keys</a></li>
                    <li><a class="dropdown-item" href="/password/change">Change Password</a></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">About / Credits</a></li>
                </ul>
                <a href="/logout" class="btn btn-outline-danger" title="Logout">
                    <i class="bi-box-arrow-right">&zwnj;</i>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
