{% extends "master.html" %}
{% block content %}

<style>
    main {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
    }

    .form-check {
        margin-top: 10px;
    }

    .form-floating {
        margin-bottom: 10px;
    }

    #qrcode {
        background: white;
        margin: 10px;
    }
</style>
<main class="form-mfa">
    {{ logo() }}

    {% if flash_messages %}
        {% for fm in flash_messages %}
        <div class="alert alert-{{ fm.Category }}" role="alert">
            {{ fm.Message }}
        </div>
        {% endfor %}
    {% endif %}

    <h1 class="h3 mb-3 fw-normal">Setup Multi-Factor Authentication (MFA)</h1>
    <form action="/mfa/register" method="POST" name="two_factor_setup_form">
        {{ csrf_field|safe }}
        <input id="setup-1" name="setup" type="radio" value="authenticator" checked="checked" style="display: none">
        <input id="submit" name="submit" type="submit" value="Generate QR Code" class="btn btn-primary w-100 " >
        {% if chosen_method == "authenticator" %}
        <hr>
        <div class="center">
            <div>
            Open an authenticator app on your device and scan the following QRcode (or enter the code below manually) to start receiving codes:
            </div>
            <div>
            <img alt="Two factor authentication code" id="qrcode" src="{{ authr_qrcode }}">
            </div>
            <div>
            {{ authr_key }}
            </div>
        </div>
        {% endif %}
    </form>
    {% if chosen_method == "authenticator" %}
    <hr>
    <form action="/mfa/verify" method="POST"
        name="two_factor_verify_code_form">
        {{ csrf_field|safe }}
        <div class="form-floating">
            <input id="code" name="code" placeholder="XXXXXX" type="text" value="" required class="form-control">
            <label for="code">Authentication Code</label>
        </div>
        <input id="submit" name="submit" type="submit" value="Submit Code" class="btn btn-primary w-100 " >
    </form>
    {% endif %}

</main>
{% endblock %}
