{% extends "master.html" %}
{% block content %}

<style>
    main {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
    }

    .form-check {
        margin-top: 10px;
    }

    .form-floating {
        margin-top: 10px;
    }
</style>
<main>
    {{ logo() }}
    {% if flash_messages %}
        {% for fm in flash_messages %}
        <div class="alert alert-{{ fm.Category }}" role="alert">
            {{ fm.Message }}
        </div>
        {% endfor %}
    {% endif %}
    <h1 class="h3 mb-3 fw-normal">Change Password</h1>
    <form action="/password/change" method="POST" name="change_password_form">
        {{ csrf_field|safe }}
        <div class="form-floating">
            <input autocomplete="current-password" id="password" name="password" type="password" value="" class="form-control">
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input autocomplete="new-password" id="new_password" name="new_password" required type="password" value="" class="form-control">
            <label for="new_password">New Password</label>
        </div>
        <div class="form-floating">
            <input autocomplete="new-password" id="new_password_confirm" name="new_password_confirm" required type="password" value="" class="form-control">
            <label for="new_password_confirm">Retype Password</label>
        </div>
        <input id="submit" name="submit" type="submit" value="Change" class="btn btn-primary w-100 " >
    </form>
</main>

{% endblock %}
