<!-- Testcase Saved Toast -->
{{ toast("Testcase Saved") }}

{% macro multiContent(type, items, description="description") %}
<div class="mb-3">
    <div id="{{ type }}Toolbar">
        <button id="{{ type }}NewButton" class="btn btn-primary multiNew">New</button>
    </div>
    <table data-toggle="table" id="{{ type }}Table" class="multiTable" data-unique-id="id" data-id-field="id" data-toolbar="#{{ type }}Toolbar" >
        <thead>
            <tr>
                <th data-field="id" data-visible="false">ID</th>
                <th data-field="name" data-formatter="nameFormatter" id="nameField">Name</th>
                <th data-field="{{ description }}" data-formatter="{{ description }}Formatter">{{ description|capitalize }}</th>
                <th data-field="delete" data-align="center" data-formatter="deleteFormatter">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr data-title="bootstrap table" data-object='{"key": "value"}' id="{{ item.ID.Hex }}">
                <td>{{ item.ID.Hex }}</td>
                <td>{{ item.Name }}</td>
                <td>{% if description == "colour" %}{{ item.Colour }}{% else %}{{ item.Description }}{% endif %}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{{ modalHead("multiSource", "Manage Sources", True) }}
    {{ multiContent("sources", multi.Sources) }}
{{ modalTail("multiSource", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiTarget", "Manage Targets", True) }}
    {{ multiContent("targets", multi.Targets) }}
{{ modalTail("multiTarget", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiTool", "Manage Tools", True) }}
    {{ multiContent("tools", multi.Tools) }}
{{ modalTail("multiTool", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiControl", "Manage Controls", True) }}
    {{ multiContent("controls", multi.Controls) }}
{{ modalTail("multiControl", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiTag", "Manage Tags", True) }}
    {{ multiContent("tags", multi.Tags, "colour") }}
{{ modalTail("multiTag", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiDatasource", "Manage Datasources", True) }}
    {{ multiContent("datasources", multi.Datasources) }}
{{ modalTail("multiDatasource", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiRule", "Manage Rules", True) }}
    {{ multiContent("rules", multi.Rules) }}
{{ modalTail("multiRule", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiDetectionsource", "Manage Detection Sources", True) }}
    {{ multiContent("detectionsources", multi.DetectionSources) }}
{{ modalTail("multiDetectionsource", "Cancel", "Save", "multiButton") }}

{{ modalHead("multiPreventionsource", "Manage Prevention Sources", True) }}
    {{ multiContent("preventionsources", multi.PreventionSources) }}
{{ modalTail("multiPreventionsource", "Cancel", "Save", "multiButton") }}

{{ modalHead("ttpInfo", testcase.MitreID + " TTP Information", True) }}
<h3>Description</h3>
<pre style="white-space: pre-wrap;word-wrap: break-word;">{{ kb.Overview | safe }}</pre>
<h3>Recommendations</h3>
<pre style="white-space: pre-wrap;word-wrap: break-word;">{{ kb.Advice }}</pre>
{% if sigmas %}
<h3>SIGMA Rules</h3>
<ul>
    {% for sigma in sigmas %}
    <li><a href='{{ sigma.URL }}' target="_blank">{{ sigma.Name }}</a><br/>{{ sigma.Description }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>References</h3>
<ul>
    <li><a href='https://attack.mitre.org/techniques/{{ testcase.MitreID|replace:".,/" }}' target="_blank">MITRE Reference</a></li>
</ul>
{{ modalTail("ttpInfo", "Close") }}
