<div class="col m-2 ms-0 blue">
	<div class="row my-2">
		<div class="col input-group-sm">
			<span class="input-group-text text-primary rounded-0 rounded-top border-bottom-0">Prevented</span>
			<div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ededed">
				<label class="col-6 col-form-label">Prevented</label>
				<div class="col-6">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-yes" name="prevented" value="Yes"
							{% if testcase.Prevented == "Yes" %} checked{% endif %}>
						<label class="form-check-label" for="prevented-yes">Yes</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-partial" name="prevented" value="Partial"
							{% if testcase.Prevented == "Partial" %} checked{% endif %}>
						<label class="form-check-label" for="prevented-partial">Partial</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-no" name="prevented" value="No"
							{% if testcase.Prevented == "No" %} checked{% endif %}>
						<label class="form-check-label" for="prevented-no">No</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-na" name="prevented" value="N/A"
							{% if testcase.Prevented == "N/A" %} checked{% endif %}>
						<label class="form-check-label" for="prevented-na">N/A</label>
					</div>
					<input class="form-check-input" type="radio" id="prevented-null" name="prevented" value=""{% if !testcase.Prevented %} checked{% endif %} hidden>
				</div>
				<div id="preventedrating-container" class="row m-0 p-0 my-1">
					<label for="preventedrating" class="col-6 col-form-label">Prevention Rating</label>
					<div class="col-6">
						<select class="form-select p-1" id="preventedrating" name="preventedrating" value="{{ testcase.PreventedRating }}"{% if current_user.HasRole("Blue") %} disabled{% endif %}>
							<option value="" hidden></option>
							<option value="N/A" hidden>N/A</option>
							{% for val in prevention_ratings %}
							<option value="{{ val }}" {% if testcase.PreventedRating == val %} selected{% endif %}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div id="preventionsource-container" class="row m-0 p-0 my-1">
					<label for="preventionsource" class="col-6 col-form-label">
						Prevention Source
						{% if !current_user.HasRole("Spectator") %}
						<a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#multiPreventionsourceModal" title="Manage Prevention Sources">
							<i class="bi-gear-fill small text-primary"></i>
						</a>
						{% endif %}
					</label>
					<div class="col-6">
						<select class="form-select p-1" id="preventionsource" name="preventionsource">
							<option value="" {% if !testcase.PreventionSource %}selected{% endif %}></option>
							{% for ps in multi.PreventionSources %}
							<option value="{{ ps.ID.Hex }}" {% if testcase.PreventionSource == ps.ID.Hex %}selected{% endif %}>{{ ps.Name }}</option>
							{% endfor %}
						</select>
						<div class="form-check mt-1">
							<input class="form-check-input" type="checkbox" id="samesource"
								{% if testcase.PreventionSource && testcase.PreventionSource == testcase.DetectionSource %}checked{% endif %}>
							<label class="form-check-label small text-muted" for="samesource">Same as detection source</label>
						</div>
					</div>
				</div>
			</div>
			<span class="input-group-text text-primary mt-3 rounded-0 rounded-top border-bottom-0">Priority</span>
			<div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ededed">
				<label class="col-6 col-form-label">Focus</label>
				<div class="col-6">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="priority-prevent" name="priority" value="Prevent"
							{% if testcase.Priority == "Prevent" %} checked{% endif %}{% if current_user.HasRole("Blue") %} disabled{% endif %}>
						<label class="form-check-label" for="priority-prevent">Prevent</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="priority-detect" name="priority" value="Detect"
							{% if testcase.Priority == "Detect" %} checked{% endif %}{% if current_user.HasRole("Blue") %} disabled{% endif %}>
						<label class="form-check-label" for="priority-detect">Detect</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="priority-na" name="priority" value="N/A"
							{% if testcase.Priority == "N/A" %} checked{% endif %}{% if current_user.HasRole("Blue") %} disabled{% endif %}>
						<label class="form-check-label" for="priority-na">N/A</label>
					</div>
					<input class="form-check-input" type="radio" id="priority-null" name="priority" value=""{% if !testcase.Priority %} checked{% endif %} hidden>
				</div>
				<div class="my-1"></div>
				<div id="urgency-container" class="row m-0 p-0 my-1">
					<label for="priorityurgency" class="col-6 col-form-label">Urgency</label>
					<div class="col-6">
						<select class="form-select p-1" id="priorityurgency" name="priorityurgency" value="{{ testcase.PriorityUrgency }}"{% if current_user.HasRole("Blue") %} disabled{% endif %}>
							<option value="" hidden></option>
							<option value="N/A" hidden>N/A</option>
							{% for val in urgency_options %}
								<option value="{{ val }}" {% if testcase.PriorityUrgency == val %} selected{% endif %}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col input-group-sm">
			<span class="input-group-text text-primary rounded-0 rounded-top border-bottom-0">Detected</span>
			<div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ededed">
				<label class="col-6 col-form-label">Alerted</label>
				<div class="col-6">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="alert-yes" value="Yes"
							name="alerted" {% if testcase.Alerted %} checked{% endif %}>
						<label class="form-check-label" for="alert-yes">Yes</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="alert-no" value="No"
							name="alerted" {% if testcase.AlertedNo %} checked{% endif %}>
						<label class="form-check-label" for="alert-no">No</label>
					</div>
					<input class="form-check-input" type="radio" id="alert-null" name="alerted" value=""{% if testcase.AlertedNull %} checked{% endif %} hidden>
				</div>
				<div id="alert-container" class="row m-0 p-0 my-1">
					<label for="alert" class="col-6 col-form-label">Alert Severity</label>
					<div class="col-6">
						<select class="form-select p-1" id="alertseverity" name="alertseverity" value="{{ testcase.AlertSeverity }}">
							<option value="" hidden></option>
							{% for val in alert_severities %}
							<option value="{{ val }}" {% if testcase.AlertSeverity == val %} selected{% endif %}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div id="logged-container" class="row m-0 p-0 my-1">
					<label class="col-6 col-form-label">Logged</label>
					<div class="col-6">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="log-yes" value="Yes"
								name="logged" {% if testcase.Logged %} checked{% endif %}>
							<label class="form-check-label" for="log-yes">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="log-no" value="No"
								name="logged" {% if testcase.LoggedNo %} checked{% endif %}>
							<label class="form-check-label" for="log-no">No</label>
						</div>
						<input class="form-check-input" type="radio" id="logged-null" name="logged" value=""{% if testcase.LoggedNull %} checked{% endif %} hidden>
					</div>
				</div>
				<div id="detection-container" class="row m-0 p-0 my-1">
					<label for="colFormLabel" class="col-6 col-form-label">Detection Rating</label>
					<div class="col-6">
						<select class="form-select p-1" id="detectionrating" name="detectionrating" value="{{ testcase.DetectionRating }}"{% if current_user.HasRole("Blue") %} disabled{% endif %}>
							<option value="" hidden></option>
							{% for val in detection_ratings %}
							<option value="{{ val }}" {% if testcase.DetectionRating == val %} selected{% endif %}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div id="detectionsource-container" class="row m-0 p-0 my-1">
					<label for="detectionsource" class="col-6 col-form-label">
						Detection Source
						{% if !current_user.HasRole("Spectator") %}
						<a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#multiDetectionsourceModal" title="Manage Detection Sources">
							<i class="bi-gear-fill small text-primary"></i>
						</a>
						{% endif %}
					</label>
					<div class="col-6">
						<select class="form-select p-1" id="detectionsource" name="detectionsource">
							<option value="" {% if !testcase.DetectionSource %}selected{% endif %}></option>
							{% for ds in multi.DetectionSources %}
							<option value="{{ ds.ID.Hex }}" {% if testcase.DetectionSource == ds.ID.Hex %}selected{% endif %}>{{ ds.Name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="input-group input-group-sm d-none">
					<span class="input-group-text text-primary">
						<i class="bi-clock-fill">&zwnj;</i>
					</span>
				</div>
			</div>
			<div class="input-group input-group-sm mt-3">
				<span class="input-group-text text-primary" id="controls-label" data-bs-toggle="modal" data-bs-target="#multiControlModal"
					style="cursor:pointer;" title="Manage Controls">
					<i class="bi-pause-circle">&zwnj;</i>
				</span>
				<select class="selectpicker form-control" multiple data-live-search="true" title="Control(s)"
					data-style="" data-style-base="form-control-sm form-control"
					data-live-search-placeholder="Search..." data-width="auto" id="controls"
					name="controls" autocomplete="off" data-size="10">
					{% if !current_user.HasRole("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
					<option data-divider="true"></option>
					{% for control in multi.Controls %}
						<option {% if control.ID.Hex|is_in:testcase.Controls %}selected{% endif %} class="dynopt-controls" value="{{ control.ID.Hex }}">{{ control.Name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="input-group input-group-sm mt-3">
				<span class="input-group-text text-primary" id="tags-label" data-bs-toggle="modal" data-bs-target="#multiTagModal"
					style="cursor:pointer;" title="Manage Tags">
					<i class="bi-tags">&zwnj;</i>
				</span>
				<select class="selectpicker form-control" multiple data-live-search="true" title="Tag(s)"
					data-style="" data-style-base="form-control-sm form-control"
					data-live-search-placeholder="Search..." data-width="auto" id="tags"
					name="tags" autocomplete="off">
					{% if !current_user.HasRole("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
					<option data-divider="true"></option>
					{% for tag in multi.Tags %}
						<option {% if tag.ID.Hex|is_in:testcase.Tags %}selected{% endif %} class="dynopt-tags" value="{{ tag.ID.Hex }}" data-content="<span class='badge rounded-pill' style='background:{{ tag.Colour }}'>{{ tag.Name }}</span>">{{ tag.Name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="input-group input-group-sm mt-3">
				<span class="input-group-text text-primary" id="datasources-label" data-bs-toggle="modal" data-bs-target="#multiDatasourceModal"
					style="cursor:pointer;" title="Manage Datasources">
					<i class="bi-database">&zwnj;</i>
				</span>
				<select class="selectpicker form-control" multiple data-live-search="true" title="Datasource(s)"
					data-style="" data-style-base="form-control-sm form-control"
					data-live-search-placeholder="Search..." data-width="auto" id="datasources"
					name="datasources" autocomplete="off" data-size="10">
					{% if !current_user.HasRole("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
					<option data-divider="true"></option>
					{% for ds in multi.Datasources %}
						<option {% if ds.ID.Hex|is_in:testcase.Datasources %}selected{% endif %} class="dynopt-datasources" value="{{ ds.ID.Hex }}">{{ ds.Name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="input-group input-group-sm mt-3">
				<span class="input-group-text text-primary" id="rules-label" data-bs-toggle="modal" data-bs-target="#multiRuleModal"
					style="cursor:pointer;" title="Manage Rules">
					<i class="bi-shield-check">&zwnj;</i>
				</span>
				<select class="selectpicker form-control" multiple data-live-search="true" title="Rule(s)"
					data-style="" data-style-base="form-control-sm form-control"
					data-live-search-placeholder="Search..." data-width="auto" id="rules"
					name="rules" autocomplete="off" data-size="10">
					{% if !current_user.HasRole("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
					<option data-divider="true"></option>
					{% for rule in multi.Rules %}
						<option {% if rule.ID.Hex|is_in:testcase.Rules %}selected{% endif %} class="dynopt-rules" value="{{ rule.ID.Hex }}">{{ rule.Name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="row my-3">
		<div class="input-group">
			<span class="input-group-text px-1 text-primary"
				style="writing-mode: vertical-lr;">Notes</span>
			<textarea class="form-control" name="bluenotes" id="bluenotes"
				style="min-height: 4em">{{ testcase.BlueNotes }}</textarea>
		</div>
	</div>
	<div class="row m-0">
		<ul class="list-group p-0" id="evidence-blue">
			<li class="list-group-item">
				<div class="input-group input-group-sm">
					<label class="input-group-text text-danger" for="bluefiles">Upload Evidence</label>
					<input type="file" class="form-control" id="bluefiles" name="bluefiles" multiple="multiple" autocomplete="off">
				</div>
			</li>
			{% for file in testcase.BlueFiles %}
			<li class="list-group-item">
				<button type="button" class="btn btn-outline-danger btn-sm me-2 evidence-delete evidence-blue">
					<i class="bi-trash small">&zwnj;</i>
				</button>
				<a href="/testcase/{{ testcase.ID.Hex }}/evidence/{{ file.Name }}?download=true" class="btn btn-outline-primary btn-sm me-2">
					<i class="bi-download small">&zwnj;</i>
				</a>
				{% if file.Name|is_image %}
					<a href="/testcase/{{ testcase.ID.Hex }}/evidence/{{ file.Name }}" target="_blank">
						<img class="img-fluid img-thumbnail" style="max-width: 80%" src="/testcase/{{ testcase.ID.Hex }}/evidence/{{ file.Name }}"/>
					</a>
					<input style="margin-left: 6em; width:80%;" class="form-control form-control-sm" type="text" placeholder="Caption..." value="{{ file.Caption }}" id="BLUE{{ file.Name }}" name="BLUE{{ file.Name }}"/>
				{% else %}
					<span class="name small">{{ file.Name }}</span>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
